version: "3.9"

services:
  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app
    ports:
      - "5173:5173"
    env_file:
      - ./.env
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "npm ci || npm install; npm run dev"
