services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
      - "5000:5000"
    environment:
      PORT: 8080
      BACKEND_PORT: 5000
    volumes:
      - ./backend/uploads:/app/uploads
